# put common ignore here
.DS_Store
.idea
build.env
.devcontainer/.env

# local storage mounts should be ignored
.local-deps/
uploads/

# Lerna
lerna-debug.log
node_modules

# TS
*.tsbuildinfo

# Logs
jmeter.log

.python-version
*/**/*.egg-info
*/**/__pycache__/
*/**/*credentials.*
.cache
.vscode/*.log
.make.*

# env file
.env